<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title>日本酒を知る</title><!--ブラウザのタブのタイトルを指定-->
    <link rel="stylesheet" type="text/css" href="stylesheets/top.scss">
  </head>
  <body>
  
  <div class="headerimage-top">
  </div>

    <main>
      <h1 class="bigheader-top">Aisakeyaとは</br>こんな方におすすめ</h1>
        <div class="intro-top">
            
            <h3>貴方の日本酒の好みを見つける<br/>
            日本酒診断サイト</h3></br>
            フルーティー、旨味、すっきり、熟成、酸味、ユニークなどの</br>
            <p>9種類の診断タイプに分けました。</br></p>
          <div class="intro-top-2">
            貴方に合う日本酒はどのタイプ？</br>
            <h3 class="header-text-underline">
                自分に合う日本酒と出会える日本酒診断サイトです。</h3></br>
          </div>
        </div>

        <div class="circle-background">
          <div class="circle-all-top">
            <div class="circle1-top">
              <div class="circle-text-top">
                日本酒は種類が多くて</br>
                何を選べばいいか</br>
                分からない...
              </div>
            </div>

            <div class="circle2-top">
              <div class="circle-text-top">
                今まで飲んだことのない</br>
                日本酒に挑戦してみたい！
              </div>
            </div>
        
            <div class="circle3-top">
              <div class="circle-text-top">
                日本酒について</br>
                もっと知りたい！
              </div>
            </div>
          </div>
        </div>

        <div class="intro-top-bottom">
          そんな方は是非。<br/>
          <p>貴方の日本酒の概念をひっくり返します。</br></p>
        </div>
        

        <a href="<%= new_perfume_path %>" class="btn btn-svg">
        <svg>
        <rect x="2" y="2" rx="0" fill="none" width=300 height="50"></rect>
        </svg>
        <span>「日本酒診断」はこちら</span>
        </a>

            



    </main>

